# Environments
.venv/
venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Secrets
.env

# IDEs
.vscode/
.idea/

# Build Artifacts
build/
dist/
*.egg-info/
